{% extends "layout.html" %}

{% block body %}

print(f"The current tempurature is:", my_data["current_weather"]["temperature"],
my_data["daily_units"]["temperature_2m_max"], "\nToday you can expect",
dict3["weathercode"][0], "\nwith a windspeed of:", my_data["current_weather"]["windspeed"], wind_cardinal)
print(f"You can expect a high of", my_data["daily"]["temperature_2m_max"][0],
my_data["daily_units"]["temperature_2m_max"], "and a low of", my_data["daily"]["temperature_2m_min"][0],
my_data["daily_units"]["temperature_2m_max"])
print(f"The real feel today will be between", my_data["daily"]["apparent_temperature_max"][0],
my_data["daily_units"]["temperature_2m_max"], "and", my_data["daily"]["apparent_temperature_min"][0],
my_data["daily_units"]["temperature_2m_max"])

{% endblock %}